*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
nav{
  background: #270082;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
.logo{
  font-size: 32px;
  font-weight: 600;
  color: white;
}
.navigation ul{
  display: flex;
  gap: 20px;
}
.navigation ul{
  list-style-type: none;
}
.navigation ul a{
  text-decoration: none;
  color: white;
}
.navigation ul li{
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}
.navigation ul li:hover{
  border-bottom: 2px solid #fff;
}
.hero{
  background: url('hero_image.png');
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .container{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero h1{
  font-size: 96px;
  font-weight: 600;
}
.hero h3{
  font-size: 32px;
  font-weight: 600;
}
.music{
  background: #281154;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.music .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.music h1,h4{
  font-weight: 600;
}
.music button{
  background: #dc0000;
  padding: 10px 15px;
  border: 0;
  color: white;
  transition: 0.2s ease-in-out;
}
.music button:hover{
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}
.ipad{
  margin-top: -400px;
  position: relative;
  top: 400px;
}
.about_music{
  margin-top: 500px;
  margin-bottom: 50px;
}
.about_music .container{
  display: grid;
  gap: 50px;
  text-align: center;
  place-items: center;
}
.about_music h3{
  font-weight: 600;
}
.about_music button{
  background: #270082;
  padding: 10px 15px;
  color: white;
  border: 0;
  transition: 0.2s ease-in-out;
}
.about_music button:hover{
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}
.mac img{
  width: 100vh;
}
.video{
  background: url('video.png');
  min-height: 800px;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.video .container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -200px;
}
.video h3{
  font-weight: 600;
}
.gift{
  margin: 100px 0;
  display: flex;
  gap: 50px;
}
.gift_content{
  display: flex;
   flex-direction: column;
   gap: 20px;
}
.gift_content h3{
  font-weight: 600;
}
.gift_content button{
  align-self: center;
  padding: 10px 15px;
  color: white;
  background: #270082;
  border: 0;
  transition: 0.2s ease-in-out;
}
.gift_content button:hover{
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}
.footer_upper{
  background: #1B0058;
  color: white;
}
.footer_upper .container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer_link h3{
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}
.footer_link ul{
  list-style-type: none;
}
.footer_bottom{
  background: #270082;
  color: white;
  text-align: center;
  padding: 20px;
}
section{
  scroll-margin: 50px;
}
